HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### properties ###
applicdatioin.properties

### bootstrap template ###
/titan

###이메일 비밀번호
/src/main/java/com/app/jungsuri/infra/config/AppConfig.java
/src/main/resources/static/*
build.gradle

###도커파일
dockerfile

###pem파일
.pem

#temp 임시 ignore .
/src/test/*

#properties
/src/main/resources/application.properties

#github
/.github
