<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
        xmlns="http://www.w3.org/1999/xhtml"
>

<head th:replace="~{fragments/fragments.html :: head}"></head>

<span th:replace="~{fragments/fragments.html :: nav_header}"></span>
<body>


<main>

<!--    <div class="main">-->
<!--        <section class="home-section home-parallax home-fade bg-dark-30" id="home" data-background=".static/images/jungsuri_logo.png">-->
<!--            <div class="titan-caption">-->
<!--                <div class="caption-content">-->
<!--                    <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        <section class="module bg-dark-60 about-page-header" data-background="assets/images/about_bg.jpg" style="width: 100%">-->
        <section class="module bg-dark-60 about-page-header" style="width: 100%">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h1 class="module-title font-alt mb-0"> 100대 명산 리스트 </h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div class="row multi-columns-row post-columns" >
                    <!-- list data 뿌리기 시작-->
                    <div th:each="mountain : ${mountainEntities}">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="post">
                                <div class="post-thumbnail"><a href="#"><img th:src="${mountain.imageUrl}" style="height: 150px;" alt="Blog-post Thumbnail"/></a></div>
                                <div class="post-header font-alt">
                                    <h4 class="post-title" th:text="${mountain.name}"><a href="#"></a></h4>
                                </div>
                                <div class="post-entry">
                                    <p>높이 : <span th:text="${mountain.height}"></span></p>
                                    <p>소재지 : <span th:text="${mountain.shortLocations}"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- list data 뿌리기 끝 -->
                </div>
                <div class="pagination font-alt"  th:each="currentPage : ${#numbers.sequence(1, pagingCount)}">
                    <a th:href="'/mountain/list?currentPageNumber='+${currentPage}" class="active" th:text="${currentPage}"></a>
                </div>
            </div>
        </section>
        <div th:replace="~{fragments/fragments.html :: nav_footer}"></div>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
</body>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>

</html>