<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">

    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div style=" margin-top:50px"
             class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">회원가입</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px">
                        <a th:href="@{/member/sign-in}" onclick="$('#signupbox').hide(); $('#loginbox').show()">
                            로그인
                        </a>
                    </div>
                </div>
                <!--회원 가입 내용 입력-->
                <div class="panel-body">
                    <form th:action="@{/member/sign-up}" th:object="${signUpMemberDto}" method="post">
                        <!--                <div id="signupalert" style="display:none" class="alert alert-danger">-->
                        <!--                    <p>Error:</p>-->
                        <!--                    <span></span>-->
                        <!--                </div>-->
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="email" th:field="*{email}" class="form-control"
                                       placeholder="Email Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="firstname" class="col-md-3 control-label">User Name</label>
                            <div class="col-md-9">
                                <input type="text" th:field="*{username}" class="form-control" placeholder="User Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password1" class="col-md-3 control-label">비밀번호</label>
                            <div class="col-md-9">
                                <input type="password" th:field="*{password1}" class="form-control"
                                       placeholder="Password1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password2" class="col-md-3 control-label">비밀번호 확인</label>
                            <div class="col-md-9">
                                <input type="password" th:field="*{password2}" class="form-control"
                                       placeholder="Password2">
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- 회원가입 Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="submit" class="btn btn-info"><i
                                        class="icon-hand-right"></i>
                                    &nbsp 회원가입
                                </button>
                                <span style="margin-left:8px;">or</span>
                            </div>
                        </div>

                        <!-- 소셜로그인 추후 구현-->
                        <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <!--                        <button id="btn-fbsignup" type="button" class="btn btn-primary"><i-->
                                <!--                                class="icon-facebook"></i>   Sign Up with Kakao Google-->
                                <!--                        </button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>