<!DOCTYPE html>
<html
        class="no-js"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns="http://www.w3.org/1999/html"
        lang="en">


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div th:fragment="main-footer">
    <div id="testimonial" class="testimonial-area">
        <div class="owl-carousel testimonial-slider">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <p>“Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto
                            brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne
                            periculis
                            molestiae pri. Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.”</p>
                        <h4>John Stone</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of testimonial-->




