<!DOCTYPE html>
<html
        lang="kr"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
        xmlns="http://www.w3.org/1999/xhtml"
>

<span th:replace="~{fragments/fragments.html :: head}"></span>
<head th:replace="~{fragments/fragments.html :: nav_header}"></head>

<script>
    /**
     * summernote
     */
    $(function () {
        var toolbar = [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['link', 'hr']],
            ['view', ['fullscreen', 'codeview']],
            ['help', ['help']]
        ];

        var settings = {
            placeholder: 'Hello summernote placeholer',
            tabsize: 2,
            height: 350,
            lang: 'ko-KR',
            focus: true,
            toolbar: toolbar,
        }

        $('#summernote').summernote(settings);
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.17.8/dist/tagify.min.css" rel="stylesheet">

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<!--게시글 등록 form-->
<div th:if="${mode}=='create'">
    <section class="module bg-dark-60 about-page-header" data-background="assets/images/about_bg.jpg" style="width: 100%">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="module-title font-alt mb-0">게시글 등록 </h1>
                </div>
            </div>
        </div>
    </section>

<section class="module">
    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h4 class="font-alt mb-0">게시글 등록</h4>
                <hr class="divider-w mt-10 mb-20">
                <!-- tagify 해시태그 시작 -->
                <input name='hash_tag' value='' placeholder="해시태그를 입력해 주세요.">
                <script type="application/javascript" th:inline="javascript">
                    // The DOM element you wish to replace with Tagify
                    var inputElm = document.querySelector('input[name=hash_tag]');
                    let tag_array = new Set([]);
                    // initialize Tagify on the above input node reference
                    let tagify = new Tagify(inputElm);

                    tagify.on('add', onAddTag)
                        .on('remove', onRemoveTag)
                        .on('edit', onTagEdit)
                        .on('invalid', onInvalidTag)
                        .on('click', onTagClick)
                        .on('focus', onTagifyFocusBlur)
                        .on('blur', onTagifyFocusBlur)
                        .on('dropdown:hide dropdown:show', e => console.log(e.type))

                    var mockAjax = (function mockAjax(){
                        var timeout;
                        return function(duration){
                            clearTimeout(timeout); // abort last request
                            return new Promise(function(resolve, reject){
                                timeout = setTimeout(resolve, duration || 700, /*[[${userLoginIdList}]]*/)
                            })
                        }
                    })()

                    // tag added callback
                    function onAddTag(e){
                        tag_array.add(e.detail.data.value);
                        console.log("onAddTag : ", e.detail.data.value)
                        // tagify.off('add', onAddTag) // Tagify event 중지(제거)
                    }

                    // tag remvoed callback
                    function onRemoveTag(e){
                        tag_array.delete(e.detail.data.value);
                        console.log("onRemoveTag:", e.detail, "tagify instance value:", tagify.value)
                        console.log("tag_array delete : ", tag_array);
                    }


                    function onTagEdit(e){
                        console.log("onTagEdit: ", e.detail);
                    }

                    // invalid tag added callback
                    function onInvalidTag(e){
                        console.log("onInvalidTag: ", e.detail);
                    }

                    // invalid tag added callback
                    function onTagClick(e){
                        console.log(e.detail);
                        console.log("onTagClick: ", e.detail);
                    }

                    function onTagifyFocusBlur(e){
                        console.log(e.type, "event fired")
                    }

                    function submitForm() {
                        console.log("JSON.stringify(tag_array)",JSON.stringify(Array.from(tag_array)))
                        document.getElementById("tagList").value = Array.from(tag_array);
                        document.querySelector(".form").submit();
                    }

                </script>
                <!-- tagify 해시태그 끝 -->

                <form class="form" th:action="@{/post}" method="post" th:object="${postCreateDto}">
                    <div class="form-group">
                        <input class="form-control" type="text" name="title" th:field="*{title}" placeholder="제목을 입력해 주세요."/>
                    </div>
                    <div class="form-group">

                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Readonly input" readonly=""/>
                    </div>

                    <input type="hidden" name="author" th:value="${#authentication.name}">
                    <input id="tagList" name="tagList" value="">
                    <textarea id="summernote" name="content" th:field="*{content}" class="form-control"  placeholder="content"></textarea>
<!--                    <button class="btn btn-round btn-b" type="submit">게시글 등록</button>-->
                    <button class="btn btn-round btn-b" onclick="submitForm()">게시글 등록</button>
                </form>
            </div>
        </div>
    </div>
</section>
</div>

<!--게시글 수정 form-->
<div th:if="${mode}=='update' ">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-1">
                    <h4 class="font-alt mb-0">Basic Forms</h4>
                    <hr class="divider-w mt-10 mb-20">
                    <form class="form" th:action=" '/post/'+ ${postId} "th:method="patch" th:object="${postEntity}">
                        <div class="form-group">
                            <input class="form-control" type="text" name="title" th:field="*{title}"
                                   th:value="${postEntity.title}" placeholder="Default input"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Disabled input" disabled=""/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Readonly input" readonly=""/>
                        </div>
                        <textarea class="form-control" id="summernote" th:field="*{content}"
                                  th:value="${postEntity.content}" placeholder="content"></textarea>
                        <button class="btn btn-round btn-b" type="submit">게시글 수정</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
<div th:replace="~{fragments/fragments.html :: nav_footer}"></div>



</html>