<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
        xmlns="http://www.w3.org/1999/xhtml"
>

<head th:replace="~{fragments/fragments.html :: head}"></head>

<span th:replace="~{fragments/fragments.html :: nav_header}"></span>

<body>

<div class="main">
    <section class="module bg-dark-60 blog-page-header" data-background=" assets/images/blog_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">등산 게시물</h2>
                    <div class="module-subtitle font-serif">
                        정수리가 다녀갔던 등산 게시물을 확인하세요.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="alert alert-info" role="alert" th:if="${message}" th:text="${message}"></div>
                <div class="alert alert-danger" role="alert" th:if="${delete_message}" th:text="${delete_message}"></div>

                <!-- left slider start col-sm-4-->
                <span th:replace="fragments/fragments.html :: left_sidebar"></span>
                <!-- left slider end -->
                <!--   게시글 post list start   -->
                <div class="col-sm-8 col-sm-offset-1">

                    <!--   게시글 main form start  -->
                    <div id="post_list">
                        <div class="post" th:each="post : ${postList}">
                        <div class="post-thumbnail">
                            <a href="#"><img src="/images/banner_mountain01.jpg" alt="Blog-post Thumbnail"/>
                            </a>
                        </div>
                        <div class="post-header font-alt">
                            <h2 class="post-title"><a th:href="'/post/' + ${post.id} + '/details'" th:text="${post.title}"></a></h2>
                            <div class="post-meta">By&nbsp;
                                <a th:text="${post.author} + ' | ' + ${post.getCreatedAt().toLocalDate()}"></a>
                                | 3 Comments | <a >Photography, </a>
                                <a th:if="${post.loginId == #authentication.principal.username}" style="float:right">
                                    <div style="float:right">
                                        <form th:action=" '/post/' + ${post.id}" th:method="delete">
                                            <button class="btn btn-danger bottom-right">삭제</button>
                                        </form>
                                    </div>
                                    <div style="float:right">
                                        <a th:href="'/post/' + ${post.getId()} +'/updateView'" class="btn btn-b btn-round bottom-right">수정</a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="post-entry">
                            <p th:placeholder="post." th:text="${post.content.replaceAll('<(/)?([a-zA-Z]*)(\\s[a-zA-Z]*=[^>]*)?(\\s)*(/)?>', '')}"></p>
                        </div>
<!--                        <div class="post-more"><a class="more-link" href="#">Read more</a></div>-->
                    </div>
                    </div>
                    <!--   게시글 main form end  -->
                    <div class="background-image">
                        <!-- 내용 -->
                        <img src="/images/jungsuri_logo.png" alt="Blog Slider Image" style="width: 50%">
                    </div>

                    <div>
                        <a href="/post"><button class="btn btn-d btn-round" >글쓰기</button></a>
                    </div>
                    <div class="pagination font-alt" >
<!--                        <a th:href="'/post/list?pageNumber='+${startPageNum}">-->
<!--                            <i class="fa fa-angle-left">이전</i>-->
<!--                        </a>-->
                        <div class="pagination font-alt"  th:each="currentPage : ${#numbers.sequence(1, pagingCount)}">
                            <a th:href="'/post/list?currentPageNumber='+${currentPage}" class="active" th:text="${currentPage}"></a>
                        </div>
<!--                        <a th:href="'/post/list?pageNumber='+${nextPageNum}">-->
<!--                            <i class="fa fa-angle-right">다음</i>-->
<!--                        </a>-->
                    </div>
                </div>
                <!--   게시글 post list end   -->

            </div>
        </div>
    </section>
</div>

<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>

</body>

<footer>
    <div th:replace="~{fragments/fragments.html :: nav_footer}"></div>
</footer>


</html>