<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
        xmlns="http://www.w3.org/1999/xhtml"
>

<head th:replace="~{/fragments/fragments.html :: head}"></head>

<span th:replace="~{fragments/fragments.html :: nav_header}"></span>

<body>

<div class="main">
    <section class="module bg-dark-60 blog-page-header" data-background=" assets/images/blog_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Blog Standard</h2>
                    <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire
                        soul, like these sweet mornings of spring which I enjoy with my whole heart.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module">
        <div class="container">
            <div class="row">
                <!-- left slider start-->
                <div class="col-sm-4 col-md-3 sidebar">
                    <div class="widget">
                        <form role="form">
                            <div class="search-box">
                                <input class="form-control" type="text" placeholder="Search..."/>
                                <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="widget">
                        <h5 class="widget-title font-alt">Blog Categories</h5>
                        <ul class="icon-list">
                            <li><a href="#">등산 기록</a></li>

                        </ul>
                    </div>
                    <!-- pupular posts 사진, 제목, 시간-->
                    <div class="widget">
                        <h5 class="widget-title font-alt">Popular Posts</h5>
                        <!--                        <ul class="widget-posts">-->
                        <!--                            <li class="clearfix">-->
                        <!--                                <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-1.jpg"-->
                        <!--                                                                                 alt="Post Thumbnail"/></a></div>-->
                        <!--                                <div class="widget-posts-body">-->
                        <!--                                    <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>-->
                        <!--                                    <div class="widget-posts-meta">23 january</div>-->
                        <!--                                </div>-->
                        <!--                            </li>-->
                        <!--                            <li class="clearfix">-->
                        <!--                                <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-2.jpg"-->
                        <!--                                                                                 alt="Post Thumbnail"/></a></div>-->
                        <!--                                <div class="widget-posts-body">-->
                        <!--                                    <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="widget-posts-meta">15 February</div>-->
                        <!--                                </div>-->
                        <!--                            </li>-->
                        <!--                            <li class="clearfix">-->
                        <!--                                <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-3.jpg"-->
                        <!--                                                                                 alt="Post Thumbnail"/></a></div>-->
                        <!--                                <div class="widget-posts-body">-->
                        <!--                                    <div class="widget-posts-title"><a href="#">Eco bag Mockup</a></div>-->
                        <!--                                    <div class="widget-posts-meta">21 February</div>-->
                        <!--                                </div>-->
                        <!--                            </li>-->
                        <!--                            <li class="clearfix">-->
                        <!--                                <div class="widget-posts-image"><a href="#"><img src="assets/images/rp-4.jpg"-->
                        <!--                                                                                 alt="Post Thumbnail"/></a></div>-->
                        <!--                                <div class="widget-posts-body">-->
                        <!--                                    <div class="widget-posts-title"><a href="#">Bottle Mockup</a></div>-->
                        <!--                                    <div class="widget-posts-meta">2 March</div>-->
                        <!--                                </div>-->
                        <!--                            </li>-->
                        <!--                        </ul>-->
                    </div>
                    <!-- 태그 -->
                    <div class="widget">
                        <h5 class="widget-title font-alt">Tag</h5>
                        <div class="tags font-serif"><a href="#" rel="tag">Blog</a><a href="#" rel="tag">Photo</a><a
                                href="#" rel="tag">Video</a><a href="#" rel="tag">Image</a><a href="#"
                                                                                              rel="tag">Minimal</a><a
                                href="#" rel="tag">Post</a><a href="#" rel="tag">Theme</a><a href="#"
                                                                                             rel="tag">Ideas</a><a
                                href="#" rel="tag">Tags</a><a href="#" rel="tag">Bootstrap</a><a href="#" rel="tag">Popular</a><a
                                href="#" rel="tag">English</a>
                        </div>
                    </div>
                    <!-- 텍스트 -->
                    <div class="widget">
                        <!--                        <h5 class="widget-title font-alt">Text</h5>The languages only differ in their grammar, their-->
                        <!--                        pronunciation and their most common words. Everyone realizes why a new common language would-->
                        <!--                        be desirable: one could refuse to pay expensive translators.-->
                    </div>
                    <!-- 최근 달린 댓글 -->
                    <div class="widget">
                        <h5 class="widget-title font-alt">Recent Comments</h5>
                        <!--                        <ul class="icon-list">-->
                        <!--                            <li>Maria on <a href="#">Designer Desk Essentials</a></li>-->
                        <!--                            <li>John on <a href="#">Realistic Business Card Mockup</a></li>-->
                        <!--                            <li>Andy on <a href="#">Eco bag Mockup</a></li>-->
                        <!--                            <li>Jack on <a href="#">Bottle Mockup</a></li>-->
                        <!--                            <li>Mark on <a href="#">Our trip to the Alps</a></li>-->
                        <!--                        </ul>-->
                    </div>
                </div>
                <!-- left slider end -->

                <!--   게시글 post list start   -->
                <div class="col-sm-8 col-sm-offset-1">

                    <!--   게시글 main form start  -->
                    <div class="post" th:each="post : ${postList}">
                        <div class="post-thumbnail">
                            <a href="#"><img src="/images/banner_mountain01.jpg" alt="Blog-post Thumbnail"/>
                            </a>
                        </div>
                        <div class="post-header font-alt">
                            <h2 class="post-title"><a href="#"></a></h2>
                            <div class="post-meta">By&nbsp;
                                <a href="#" th:text="${post.author} +' | '+ ${post.getCreatedAt().toLocalDate()}"></a>
                                | 3 Comments | <a href="#">Photography, </a>
                            </div>
                        </div>
                        <div class="post-entry">
                            <p th:placeholder="post." th:text="${post.content.replaceAll('<(/)?([a-zA-Z]*)(\\s[a-zA-Z]*=[^>]*)?(\\s)*(/)?>', '')}"></p>
                        </div>
                        <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                    </div>
                    <!--   게시글 main form end  -->

                    <div class="post">
                        <div class="post-images-slider">
                            <ul class="slides">
                                <li><img src="/images/jungsuri_logo.png" alt="Blog Slider Image"/></li>
<!--                                <li><img src="/images/jungsuri_logo.png" alt="Blog Slider Image"/></li>-->
                                <!--                                <li><img src="/images/banner_mountain02.jpg" alt="Blog Slider Image"/></li>-->
                            </ul>
                        </div>
                        <div class="post-header font-alt">
                            <h2 class="post-title"><a href="#">Post with slideshow</a></h2>
                            <div class="post-meta">By&nbsp;<a href="#">Mark Stone</a>| 23 November | 3 Comments | <a
                                    href="#">Marketing, </a><a href="#">Web Design</a>
                            </div>
                        </div>
                        <div class="post-entry">
                            <p>A wonderful serenity has taken possession of my entire soul, like these sweet
                                mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm
                                of existence in this spot, which was created for the bliss of souls like mine.</p>
                        </div>
                        <div class="post-more"><a class="more-link" href="#">Read more</a></div>
                    </div>
                    <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a
                            class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a
                            href="#"><i class="fa fa-angle-right"></i></a></div>
                </div>
                <!--   게시글 post list end   -->

            </div>
        </div>
    </section>
</div>

<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>

</body>

<footer>
    <div th:replace="~{fragments/fragments.html :: nav_footer}"></div>
</footer>


</html>