<!DOCTYPE html>
<!--<html lang="ko" dir="ltr">-->


<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head th:replace="~{/fragments/fragments.html :: head}"></head>

<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <span th:replace="~{fragments/fragments.html :: nav_header}"></span>

    <div class="main">
        <section class="module bg-dark-30" data-background="/images/banner_mountain02.jpg">

        </section>
        <section class="module">
            <div class="container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div th:if="${param.error}">
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}">
                                You have been logged out.
                            </div>
                        </div>
                    </div>
                </div>

                <form th:action="@{/signup}" th:object="${signUpForm}" method="post">
                    <div class="form-group row">
                        <!--                TODO : 회원가입 기본정보-->

                        <div class="col-sm-5 col-sm-offset-1 mb-sm-40" id="signup_init_info" name="signup_init_info">
                            <h4 class="font-alt">회원가입</h4>
                            <hr class="divider-w mb-10">
                            <div class="form-group">
                                <label>아이디</label>
                                <input class="form-control" th:field="*{loginId}" id="username" type="text" name="username"
                                       placeholder="아이디를 입력해주세요."/>
                            </div>

                            <div class="form-group">
                                <label>이메일</label>
                                <input class="form-control" th:field="*{email}" id="email" type="email" name="email"
                                       placeholder="인증을 위해 유효한 이메일을 입력해 주세요"/>
                                <small class="form-text text-danger fieldError" th:if="${#fields.hasErrors('email')}"
                                       th:errors="*{email}">email Error</small>
                            </div>

                            <div class="form-group">
                                <label>비밀번호</label>
                                <input class="form-control" th:field="*{password}" id="password" type="password"
                                       name="password"
                                       placeholder="비밀번호를 입력해주세요." required/>
                                <small>특수문자(.,!@#$%^)를 사용해서 비밀번호를 입력해주세요.</small>
                                <small class="form-text text-danger fieldError" th:if="${#fields.hasErrors('password')}"
                                       th:errors="*{password}">Password Error</small>

                            </div>
                            <div class="form-group">
                                <label>비밀번호 확인</label>
                                <input class="form-control" id="passwordChk" type="password" name="passwordChk"
                                       placeholder="비밀번호를 한번 더 입력해주세요." autocomplete="off" required/>
                            </div>
                        </div>

                        <!--              TODO :  추가정보-->
                        <div class="col-sm-5 col-sm-offset-1 mb-sm-40" id="signup_additional_info" name="signup_additional_info">
                        <h4 class="font-alt">추가정보</h4>
                        <hr class="divider-w mb-10">

                        <div class="form-group">
                            <label>이름</label>
                            <input class="form-control" th:field="*{name}" id="name" type="text" name="name" placeholder="성함을 입력해 주세요"/>
                        </div>

                        <div class="form-group">
                            <label>인삿말</label>
                            <input class="form-control" th:field="*{bio}" id="bio" type="text" name="bio"
                                   placeholder="간단한 소개를 입력해주세요."/>
                        </div>
                        <!--TODO : 거주지 select box OR 검색 -->
                        <div class="form-group">
                            <label>사는지역</label>
                            <input class="form-control" th:field="*{location}" id="location" name="location"
                                   placeholder="거주하시는 대략적인 지역만 입력해주세요(ㅇㅇ도/ㅇㅇ시)"/>
                        </div>
                        <div class="form-group">
                            <label>프로필사진 </label>
                            <input class="form-control" th:field="*{profileImage}" id="profileImage" type="text" name="profileImage"
                                   placeholder="업로드로 만들게요."/>
                        </div>

                    </div>
                    </div>
                    <div class="form-group row text-center">
                        <button type="submit" class="btn btn-round btn-b" value="Sign In">SIGN UP</button>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <hr class="divider-d">
    <div th:replace="~{fragments/fragments.html :: nav_footer}"></div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/titan/live/assets/lib/jquery/dist/jquery.js"></script>
<script src="/titan/live/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/titan/live/assets/lib/wow/dist/wow.js"></script>
<script src="/titan/live/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/titan/live/assets/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/titan/live/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/titan/live/assets/lib/flexslider/jquery.flexslider.js"></script>
<script src="/titan/live/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/titan/live/assets/lib/smoothscroll.js"></script>
<script src="/titan/live/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/titan/live/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/titan/live/assets/js/plugins.js"></script>
<script src="/titan/live/assets/js/main.js"></script>
</body>

</html>