<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://thymeleaf.org/extras/spring-security"
        xmlns="http://www.w3.org/1999/xhtml"
>

<head th:replace="~{fragments/fragments.html :: head}"></head>

<span th:replace="~{fragments/fragments.html :: nav_header}"></span>

<body>

<div class="main">
<!--    <section class="home-section home-parallax home-fade bg-dark-30" id="home" data-background="./images/jungsuri_logo.png">-->


    <section class="module bg-dark-60 about-page-header" style="width: 100%">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="module-title font-alt">MAP</h1>
                    <h2 class="module-title font-alt mb-0"> 등산 경로를 지도에서 확인하세요.</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="module">
        <div class="container">
            <button class="btn btn-primary" onclick="mountain_record_start()">등산 경로 기록 시작</button>
            <button class="btn btn-danger" onclick="mountain_record_end()">등산 경로 기록 종료</button>

            <div class="row">

                <!-- kakao map api 끝 -->

                <!-- left slider start col-sm-4-->
                <!-- TODO : map용 left side bar 만들기 -->
                <!-- left slider end -->

                <div id="map" style="width:1000px;height:600px;"></div>
                <!-- kakao map api 시작 -->
                <script>

                    var mapContainer = document.getElementById('map'); // 지도를 표시할 div
                    var mapOption = {
                        center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                        level: 3 // 지도의 확대 레벨
                    };

                    var map = new kakao.maps.Map(mapContainer, mapOption); //지도를 생성합니다
                    var nowPosition = [37.566826, 126.9786567];

                    // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                    var mapTypeControl = new kakao.maps.MapTypeControl();

                    var drawingFlag = false; // 선이 그려지고 있는 상태를 가지고 있을 변수입니다
                    var clickLine // 마우스로 클릭한 좌표로 그려질 선 객체입니다
                    var distanceOverlay; // 선의 거리정보를 표시할 커스텀오버레이 입니다
                    var dots = {}; // 선이 그려지고 있을때 클릭할 때마다 클릭 지점과 거리를 표시하는 커스텀 오버레이 배열입니다.

                    /** 지도에 컨트롤을 추가해야 지도위에 표시됩니다 */
                    // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
                    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

                    /** 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다 */
                    var zoomControl = new kakao.maps.ZoomControl();
                    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

                    function getLatLon(position) {
                        var lat = position.coords.latitude, // 위도
                            lon = position.coords.longitude; // 경도
                        console.log("getLatLon lat : " , lat , " getLatLon lon : " , lon);
                        nowPosition = [lat, lon];
                    }

                    /** 지도에 마커와 인포윈도우를 표시하는 함수입니다 */
                    function displayMarker(locPosition, message) {

                        // 마커를 생성합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: locPosition
                        });

                        var iwContent = message, // 인포윈도우에 표시할 내용
                            iwRemoveable = true;

                        // 인포윈도우를 생성합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content : iwContent,
                            removable : iwRemoveable
                        });

                        // 인포윈도우를 마커위에 표시합니다
                        infowindow.open(map, marker);

                        // 지도 중심좌표를 접속위치로 변경합니다
                        map.setCenter(locPosition);
                    }

                    function showError(error) {
                        console.error('Error occurred:', error);
                    }

                    function deleteClickLine() {
                        if (clickLine) {
                            clickLine.setMap(null);
                            clickLine = null;
                        }
                    }

                    // 마우스 드래그로 그려지고 있는 선의 총거리 정보를 표시
                    /** 마우스 오른쪽 클릭으로 선 그리가 종료됐을 때 선의 정보를 표시하는 커스텀 오버레이를 생성하고 지도에 표시하는 함수입니다 */
                    function showDistance(content, position) {

                        if (distanceOverlay) { // 커스텀오버레이가 생성된 상태이면

                            // 커스텀 오버레이의 위치와 표시할 내용을 설정합니다
                            distanceOverlay.setPosition(position);
                            distanceOverlay.setContent(content);

                        } else { // 커스텀 오버레이가 생성되지 않은 상태이면

                            // 커스텀 오버레이를 생성하고 지도에 표시합니다
                            distanceOverlay = new kakao.maps.CustomOverlay({
                                map: map, // 커스텀오버레이를 표시할 지도입니다
                                content: content,  // 커스텀오버레이에 표시할 내용입니다
                                position: position, // 커스텀오버레이를 표시할 위치입니다.
                                xAnchor: 0,
                                yAnchor: 0,
                                zIndex: 3
                            });
                        }
                    }

                    // 그려지고 있는 선의 총거리 정보와
                    // 선 그리가 종료됐을 때 선의 정보를 표시하는 커스텀 오버레이를 삭제하는 함수입니다
                    function deleteDistnce () {
                        if (distanceOverlay) {
                            distanceOverlay.setMap(null);
                            distanceOverlay = null;
                        }
                    }

                    // 선이 그려지고 있는 상태일 때 지도를 클릭하면 호출하여
                    // 클릭 지점에 대한 정보 (동그라미와 클릭 지점까지의 총거리)를 표출하는 함수입니다
                    function displayCircleDot(position, distance) {

                        console.log("distance : ", distance);
                        // 클릭 지점을 표시할 빨간 동그라미 커스텀오버레이를 생성합니다
                        var circleOverlay = new kakao.maps.CustomOverlay({
                            content: '<span class="dot"></span>',
                            position: position,
                            zIndex: 1
                        });

                        // 지도에 표시합니다
                        circleOverlay.setMap(map);

                        // if (distance > 0) {
                        //     // 클릭한 지점까지의 그려진 선의 총 거리를 표시할 커스텀 오버레이를 생성합니다
                        //     var distanceOverlay = new kakao.maps.CustomOverlay({
                        //         content: '<div class="dotOverlay">거리 <span class="number">' + distance + '</span>m</div>',
                        //         position: position,
                        //         yAnchor: 1,
                        //         zIndex: 2
                        //     });
                        //
                        //     // 지도에 표시합니다
                        //     distanceOverlay.setMap(map);
                        // }

                        // 배열에 추가합니다
                        dots.push({circle:circleOverlay, distance: distanceOverlay});
                    }

                    // 클릭 지점에 대한 정보 (동그라미와 클릭 지점까지의 총거리)를 지도에서 모두 제거하는 함수입니다
                    function deleteCircleDot() {
                        var i;

                        for ( i = 0; i < dots.length; i++ ){
                            if (dots[i].circle) {
                                dots[i].circle.setMap(null);
                            }

                            if (dots[i].distance) {
                                dots[i].distance.setMap(null);
                            }
                        }

                        dots = [];
                    }

                    var cnt = 0;
                    var startTime = 0;
                    var endTime = 0;
                    var intervalId;

                    /** 현재 위치를 얻어오는 함수입니다. */
                    function updateLocation() {
                        navigator.geolocation.getCurrentPosition(getLatLon, showError);

                        //지도의 중심을 현재위치로 설정합니다 (setCenter method)
                        map.setCenter(new kakao.maps.LatLng(nowPosition[0], nowPosition[1]));

                        if (!drawingFlag) {
                            navigator.geolocation.getCurrentPosition(getLatLon, showError);
                            deleteClickLine(); // 지도 위에 선이 표시되고 있다면 지도에서 제거합니다
                            deleteDistnce(); // 지도 위에 커스텀오버레이가 표시되고 있다면 지도에서 제거합니다

                            // 지도 위에 선을 그리기 위해 클릭한 지점과 해당 지점의 거리정보가 표시되고 있다면 지도에서 제거합니다
                            deleteCircleDot();

                            //첫 시작점을 default위치가 아닌 그 다음 현재 위치로 설정합니다.
                            if(cnt < 2){
                                cnt += 1;
                                return;
                            }
                            drawingFlag = true; // 상태를 true로, 선이 그리고있는 상태로 변경합니다

                            // 클릭한 위치를 기준으로 선을 생성하고 지도위에 표시합니다
                            clickLine = new kakao.maps.Polyline({
                                map: map, // 선을 표시할 지도입니다
                                path: [new kakao.maps.LatLng(nowPosition[0],nowPosition[1])], // 선을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다
                                strokeWeight: 3, // 선의 두께입니다
                                strokeColor: '#db4040', // 선의 색깔입니다
                                strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                                strokeStyle: 'solid' // 선의 스타일입니다
                            });
                            var locPosition = new kakao.maps.LatLng(nowPosition[0],nowPosition[1]), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                                message = '<div style="padding:5px;">출발!</div>'; // 인포윈도우에 표시될 내용입니다
                            // 마커와 인포윈도우를 표시합니다
                            displayMarker(locPosition, message);

                            // 클릭한 지점에 대한 정보를 지도에 표시합니다
                            displayCircleDot(new kakao.maps.LatLng(nowPosition[0],nowPosition[1]), 0);

                        } else { // 선이 그려지고 있는 상태이면

                            var path = clickLine.getPath(); // 그려지고 있는 선의 좌표 배열을 얻어옵니다
                            path.push(new kakao.maps.LatLng(nowPosition[0],nowPosition[1])); // 좌표 배열에 클릭한 위치를 추가합니다
                            clickLine.setPath(path); // 다시 선에 좌표 배열을 설정하여 클릭 위치까지 선을 그리도록 설정합니다

                            if (path.length > 1) {
                                // 마지막 클릭 지점에 대한 거리 정보 커스텀 오버레이를 지웁니다
                                if (dots[dots.length-1].distance) {
                                    dots[dots.length-1].distance.setMap(null);
                                    dots[dots.length-1].distance = null;
                                }

                                var distance = Math.round(clickLine.getLength()), // 선의 총 거리를 계산합니다
                                    content = getTimeHTML(distance); // 커스텀오버레이에 추가될 내용입니다

                                console.log("diudidis tance : ", distance);
                                // 그려진 선의 거리정보를 지도에 표시합니다
                                showDistance(content, path[path.length-1]);
                            }

                            // var distance = Math.round(clickLine.getLength());
                            // displayCircleDot(new kakao.maps.LatLng(nowPosition[0],nowPosition[1]), distance);
                        }
                    }

                    function getTimeHTML(distance) {

                        // 도보의 시속은 평균 4km/h 이고 도보의 분속은 67m/min입니다
                        var walkkTime = distance / 67 | 0;
                        var walkHour = '', walkMin = '';

                        // 계산한 도보 시간이 60분 보다 크면 시간으로 표시합니다
                        if (walkkTime > 60) {
                            walkHour = '<span class="number">' + Math.floor(walkkTime / 60) + '</span>시간 '
                        }
                        walkMin = '<span class="number">' + walkkTime % 60 + '</span>분'

                        // 자전거의 평균 시속은 16km/h 이고 이것을 기준으로 자전거의 분속은 267m/min입니다
                        var bycicleTime = distance / 227 | 0;
                        var bycicleHour = '', bycicleMin = '';

                        // 계산한 자전거 시간이 60분 보다 크면 시간으로 표출합니다
                        if (bycicleTime > 60) {
                            bycicleHour = '<span class="number">' + Math.floor(bycicleTime / 60) + '</span>시간 '
                        }
                        bycicleMin = '<span class="number">' + bycicleTime % 60 + '</span>분'

                        // 거리와 도보 시간, 자전거 시간을 가지고 HTML Content를 만들어 리턴합니다
                        var content = '<div class="form-control" style="height: 60px;">'
                        content += '<ul class="dotOverlay distanceInfo" style="color:black; font-weight: bold">';
                        content += '    <li>';
                        content += '        <span class="label" style="color:black; font-weight: bold">총거리</span><span class="number">' + distance + '</span>m';
                        content += '    </li>';
                        content += '    <li>';
                        content += '        <span class="label" style="color:black; font-weight: bold">도보</span>' + walkHour + walkMin;
                        content += '    </li>';
                        content += '    <li>';
                        content += '        <span class="label" style="color:black; font-weight: bold">자전거</span>' + bycicleHour + bycicleMin;
                        content += '    </li>';
                        content += '</ul>'
                        content += '</div>'

                        return content;
                    }

                    function mountain_record_start() {
                        confirm("등산을 시작하시겠습니까?");
                        startTime = new Date();
                        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
                        if (navigator.geolocation) {
                            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                            navigator.geolocation.getCurrentPosition(getLatLon, showError);
                        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
                            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
                                message = 'geolocation을 사용할수 없어요..'
                            displayMarker(locPosition, message);
                        }

                        // 최초 1회 실행
                        updateLocation();
                        // 1분 간격으로 위치 업데이트
                        intervalId = setInterval(updateLocation, 5000);
                    }

                    function formatTime(milliseconds) {
                        const totalSeconds = Math.floor(milliseconds / 1000);
                        const hours = Math.floor(totalSeconds / 3600);
                        const minutes = Math.floor((totalSeconds % 3600) / 60);
                        const seconds = totalSeconds % 60;

                        return `${hours}시간 ${minutes}분 ${seconds}초`;
                    }

                    function mountain_record_end() {
                        //등산이 끝나는 시간을 기록합니다.
                        endTime= new Date();
                        let formattedTime = formatTime(endTime - startTime);
                        console.log(formattedTime);
                        if (startTime === 0) {
                            this.formattedTime = 0;
                            alert("등산을 시작하지 않았습니다.");
                            return;
                        }

                        var locPosition = new kakao.maps.LatLng(nowPosition[0],nowPosition[1]), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                            message = '<div style="padding:5px;">도착!</div>'; // 인포윈도우에 표시될 내용입니다
                            message += '<div style="padding:5px;">걸린시간 : ' + formattedTime + '</div>'; // 인포윈도우에 표시될 내용입니다

                        // 마커와 인포윈도우를 표시합니다
                        displayMarker(locPosition, message);
                        clearInterval(intervalId);
                    }
                </script>
            </div>
        </div>
    </section>
    <div th:replace="~{fragments/fragments.html :: nav_footer}"></div>
</div>

<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</body>
</html>